{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": ["^react$", "<THIRD_PARTY_MODULES>", "^@/", "^[./]", ".css$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true
}
